/* index */
.fixed-image {
    width: 200px; /* Set the desired width */
    height: 150px; /* Set the desired height */
    object-fit: cover; /* Maintain aspect ratio and fill the container */
}
.navbar-custom {
    background-color: #f8f9fa;
}
.product-card {
    margin-bottom: 20px;
}
.product-img {
    height: 256pt;
    width: 333pt;
    object-fit: cover;
}
.user-link {
    position: relative;
}
.user-link:hover::after {
    content: "logout";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 0 5px;
}
.table {
    text-align: center; /* Căn giữa theo chiều ngang */
}

.table td {
    vertical-align: middle; /* Căn giữa theo chiều dọc */
}
.user-link {
    position: relative;
}
.nav-link:hover {
    font-weight: bold;
}
/* add update form */
/* Style for form container */
/* Style for form container */
.form-field {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for labels */
.form-field label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Style for input fields */
.form-field input[type="text"],
.form-field input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style for remember me checkbox */
.form-field #rememberMe {
    margin-right: 5px;
}

/* Style for submit button */
.form-field button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for submit button */
.form-field button[type="submit"]:hover {
    background-color: #45a049;
}

/* Style for error message */
.form-field p {
    margin: 10px 0 0 0;
    color: red;
}